html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 2em;
}

.main {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

form {
  margin-bottom: 50px;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

input, button, label {
  font-size: 1em;
  line-height: 1em;
}

legend {
  display: inline-block;
}

input:focus,
button:focus {
  outline: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

#search,
#button {
  height: 2em;
  display: inline-block;
}

#search {
  width: calc(100% - 115px);
  padding-right: .5em;
  border: 2px solid #D3D3D3;
  border-radius: 4px;
}

#search:focus {
  border-color: #a9a9a9;
}

#button {
  width: 110px;
  float: right;
  color: white;
  background: #4185e1;
  border: 2px solid #4185e1;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1em;
  text-align: left;
  padding: 2px 6px 3px 14px;
}

#button:hover {
  background: #3a77ca;
  border-color: #3a77ca;
}

#button div {
  display: inline-block;
  white-space: nowrap;
  vertical-align: text-bottom;
}

#button span {
  margin-right: .2em;
}

#button .loading {
  display: none;
}

.mode {
  margin: 1em 0 .2em;
}

.mode strong, .sorting strong {
  width: 6.5em;
  display: inline-block;
}

#results {
  opacity: 0;
}

#results.visible {

  opacity: 1;
  transition: opacity .25s ease;
}

.document {
  margin: 20px 0 40px;
  padding: 10px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.document: before,
.document: after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}

.header {
  margin-top: 5px;
}

.header.contract .date {
  display: none;
}

.header.contract .title {
  font-weight: bold;
}

.date,
.title,
.file {
  color: #808080;
}

.download {
  float: right;
  cursor: pointer;
}

.download a {
  display: inline-block;
  font-size: .8em;
  padding: 4px 5px;
  background: #3cb371;
  border-radius: 3px;
  margin-right: 3px;
  text-decoration: none;
  color: #fff;
}

.download a:hover {
  background: #36a065;
}

.hit {
  font-size: .9em;
}

.hit em {
  font-style: normal;
  font-weight: bold;
  background: #ffff00;
}

.loading {
  border-radius: 50%;
  width: 19px;
  height: 19px;
  border: 3px solid rgba(255, 255, 255, .2);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  margin: 0;
}

.count p:first-child {
  font-weight: bold;
}

.error {
  color: #8b0000;
}

.warning {
  color: #ffa500;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 360px) {

  #search {
    width: 100%;
  }

  #button {
    width: 100%;
    margin-top: .5em;
    text-align: center;
  }

  #button > div {
    width: 100%;
  }
}
